<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.debate.mapper.DebateKindMapper">

    <resultMap id="KindResultMap" type="com.lt.model.debate.pojo.DebateKind">
    <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="state" property="state"/>
    </resultMap>
    
    <select id="getKinds" resultMap="KindResultMap">
        select * from kind where `state` = 1;
    </select>

</mapper>